/*Small Devices (Tablets)*/
@media only screen and (min-width: 768px) {
  #board {
    width: 600px;
    margin: auto;
  }
}

/*Medium devices*/
@media only screen and (min-width: 992px) {
  #board {
    width: 720px;
    margin: auto;
  }
}

/*Large devices*/
@media only screen and (min-width: 1200px) {
  #board {
    width: 720px;
    margin: auto;
  }
}

/*Large devices*/
@media only screen and (min-width: 1920px) {
  #board {
    width: 800px;
    margin: auto;
  }
}