<section>
  <section id="button_panel" class="text-center">
    <a id="pass_and_play_btn" class="btn btn-sm btn-default" href="#/PassAndPlay"><i class="fa fa-user"></i> Human</a>
    <button id="new_game_btn" class="btn btn-sm btn-default" ng-click="newGame()"><i class="fa fa-refresh"></i> New game</button>
    <a id="ai_btn" class="btn btn-sm btn-default" href="#/PlayAgainstTheComputer"><i class="fa fa-desktop"></i> AI</a>
  </section>

  <div id="checkers_game">
    <section id="info">
      <h4 id="current_player_id" class="text-center">Current Player: {{playersInfo[yourPlayerIndex].playerId}} - <span ng-show="yourPlayerIndex === 0">Black</span><span ng-show="yourPlayerIndex === 1">White</span></h4>
    </section>
    <section id="board">
      <div ng-repeat="square in uiState" class="square">
        <div ng-class="{isDarkSquare: uiState[$index].isDark,
             isLightSquare: uiState[$index].isLight}">
          <img ng-src="{{square.bgSrc}}" class="background_image">
          <img ng-show="uiState[$index].isDark" ng-src="{{square.pieceSrc + (!square.isSelected ? '':'_selected') + '.png'}}" alt=""
               id="{{$index}}" dd-draggable = {{square.canSelect}} dd-drop-target = {{square.canSelect}}
               ng-click="pieceSelected($index, false)"
               ng-class="{
             canSelect: square.canSelect,
             isBlackMan: uiState[$index].isBlackMan,
             isBlackCro: uiState[$index].isBlackCro,
             isWhiteMan: uiState[$index].isWhiteMan,
             isWhiteCro: uiState[$index].isWhiteCro,
             isEmpty: uiState[$index].isEmpty}">
        </div>
      </div>
    </section>
  </div>
</section>