<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="checkers" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="checkers" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="checkers" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="checkers" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Checkers</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">-->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/checkers.css"/>
  <script type="text/javascript" src="js/api_v2.js"></script>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--<div ng-view></div>-->

  <section id="game" ng-controller="CheckersCtrl">
    <div id="board">
      <div ng-repeat="square in uiState" class="square">
        {{$index / 2}}
        <img src="img/empty.png" alt="" ng-show="square.isEmpty" class="isEmpty"
             ng-click="pieceSelected($index)"
             ng-class="{isDarkSquare: uiState[$index].isDark,
             isLightSquare: uiState[$index].isLight, isSelected: uiState[$index].isSelected}">

        <img src="img/black_man.png" alt="" ng-show="square.isBlackMan && !uiState[$index].isSelected"
             class="isBlackMan"
             ng-click="pieceSelected($index)"
             ng-class="{isDarkSquare: uiState[$index].isDark,
             isLightSquare: uiState[$index].isLight}">
        <img src="img/black_cro.png" alt="" ng-show="square.isBlackCro && !uiState[$index].isSelected"
             class="isBlackCro"
             ng-click="pieceSelected($index)"
             ng-class="{isDarkSquare: uiState[$index].isDark,
             isLightSquare: uiState[$index].isLight}">
        <img src="img/white_man.png" alt="" ng-show="square.isWhiteMan && !uiState[$index].isSelected"
             class="isWhiteMan"
             ng-click="pieceSelected($index)"
             ng-class="{isDarkSquare: uiState[$index].isDark,
             isLightSquare: uiState[$index].isLight}">
        <img src="img/white_cro.png" alt="" ng-show="square.isWhiteCro && !uiState[$index].isSelected"
             class="isWhiteCro"
             ng-click="pieceSelected($index)"
             ng-class="{isDarkSquare: uiState[$index].isDark,
             isLightSquare: uiState[$index].isLight}">

        <img src="img/black_man_selected.png" alt="" ng-show="square.isBlackMan && uiState[$index].isSelected"
             class="isBlackMan"
             ng-click="pieceSelected($index)"
             ng-class="{isDarkSquare: uiState[$index].isDark,
             isLightSquare: uiState[$index].isLight}">
        <img src="img/black_cro_selected.png" alt="" ng-show="square.isBlackCro && uiState[$index].isSelected"
             class="isBlackCro"
             ng-click="pieceSelected($index)"
             ng-class="{isDarkSquare: uiState[$index].isDark,
             isLightSquare: uiState[$index].isLight}">
        <img src="img/white_man_selected.png" alt="" ng-show="square.isWhiteMan && uiState[$index].isSelected"
             class="isWhiteMan"
             ng-click="pieceSelected($index)"
             ng-class="{isDarkSquare: uiState[$index].isDark,
             isLightSquare: uiState[$index].isLight}">
        <img src="img/white_cro_selected.png" alt="" ng-show="square.isWhiteCro && uiState[$index].isSelected"
             class="isWhiteCro"
             ng-click="pieceSelected($index)"
             ng-class="{isDarkSquare: uiState[$index].isDark,
             isLightSquare: uiState[$index].isLight}">
      </div>
    </div>
  </section>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/CheckersLogicService.js"></script>
  <script src="js/controllers/CheckersCtrl.js"></script>
</body>
</html>
